@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.formulario {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 150px;
    padding: 50px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formulario input[type=text],[type=date], .observacoes, select {
    width: 100%;
    height: 40px;
    padding: 0 20px 0 20px;
    border: .5px solid rgba(0, 0, 0, 0.2);
    outline: none;
    border-radius: 4px;
}
 
.formulario input[type=text]:focus, 
[type=date]:focus,
.observacoes:focus {
    background-color: #f2e3174d;
    border: 2px solid #ffa500;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.observacoes {
    height: 160px;
    padding: 10px;
    resize: vertical;
}
.input-outros {
    display: inline-block;    
}
.campo-pessoasAutorizadas,
.campo-responsavelPreenchimento,
.campo-usuarioSUS {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
} 

.icon-container {
    display: flex; 
    gap: 8px;
    margin-bottom: 5px;  
}
.icon-container img, 
.campo-atencao img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    align-items: center;
    background-color: #a0da79;
    margin: 0;
    padding: 0;
}
.campo-atencao img{
    background-color: #c22e2f;
    margin-right: 3px;
}
.campo-atencao span{
    padding: 3px;
    border-radius: 5px;
    text-transform: uppercase;
    background-color: #c22e2f;
    margin-right: 3px;
}

.formulario p {
    font-style: italic;
}

/* Animacao mensagem de alerta */
.msgAlerta {
    display: none;
}

.msgAlerta {
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    background-color: #a0da79b2;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 5px rgba(8, 8, 8, 0.4);
    margin: 0 auto;
    justify-content: center;
    animation: deslizar 3s ease-out forwards;
}
@keyframes deslizar {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(20px);
    }
}

@media screen and (max-width: 768px) {
    .formulario {
        max-width: 375px;

    }
    .input-outros {
        width: 100%;
    }

}
